*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
} 

.page {
  margin: 0;
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, 'Raleway');
  background-color: var(--bg-color, #f3efec);
  min-inline-size: 360px;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
}

.heading {
  align-self: center;
  font-family: var(--accent-font, 'STIX Two Text');
  font-weight: 600;
  line-height: 0.9em;
}

.content {
  display: flex;
  flex-direction: column;
}

.content-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5vi;
}