*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
} 

.page {
  margin: 0;
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, 'Raleway');
  background-color: var(--bg-color, #f3efec);
  min-inline-size: 360px;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__title {
  padding-top: 10%;
  padding-bottom: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.heading {
  align-self: center;
  font-family: var(--accent-font, 'STIX Two Text');
  font-weight: 600;
  line-height: 0.9em;
}

.content {
  display: flex;
  flex-direction: column;
}

.content__title {
  padding-top: 7%;
  padding-bottom: 2.5%;
  font-size: 30px;
}

.content-section {
  max-width: 1440px;
  margin: 0 auto;
  /* padding-left: 5vi;
  padding-right: 5vi; */
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-child) {
  padding-bottom: 1.5em;
}

.content__link {
  color: inherit;
}