*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
} 

.page {
  margin: 0;
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, 'Raleway');
  background-color: var(--bg-color, #f3efec);
  min-inline-size: 360px;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__title {
  padding-top: 10%;
  padding-bottom: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.heading {
  align-self: center;
  font-family: var(--accent-font, 'STIX Two Text');
  font-weight: 600;
  line-height: 0.9em;
}

.content {
  display: flex;
  flex-direction: column;
}

.content__title {
  padding-top: 7%;
  padding-bottom: 2.5%;
  font-size: 30px;
}

.content-section {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 5vi;
  padding-left: 5vi;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-child) {
  padding-bottom: 1.5em;
}

.content__link {
  color: inherit;
}

.content__blockquote {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 1.5em;
  font-style: italic;
  line-height: 200%;
}

.content__list {
  list-style: none;
  inset-inline-start: 40px;
}

.content__list-item {
  position: relative;
  padding-bottom: 10px;
  padding-left: 15px;
}

.content__list-item:last-child {
  padding-bottom: 0;
}

.content__list-item::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -10px;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  background-position: center center;
}

.theme_dark .content__list-item::before {
  background-image: url(../images/marker-dark.svg);
}

.content__text-block_type_first-lettered::first-letter {
  display: inline-block;
  margin-right: 4px;
  padding-right: 4px;
  padding-left: 4px;
  font-weight: bold;
  font-size: 30px;
  background-color: var(--accent-color);
}

.theme_dark .content__text-block_type_first-lettered::first-letter {
  border: var(--text-color) 1px solid;
}

.content__figure {
  position: relative;
  left: -5vi;
  width: calc(100% + 10vi);
  margin: 7% 0;
}

.content__picture-caption {
  border-bottom: var(--bg-color) 1px solid;
  padding: 20px 0 18px;
  text-align: center;
}

.content__picture {
  width: 100%;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 7%;
  border: var(--text-color) 1px solid;
  aspect-ratio: 4/3;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: '';
  position: absolute;
  bottom: 0.12em;
  left: -2%;
  z-index: -1;
  display: block;
  width: 104%;
  height: 0.25em;
  background-color: var(--accent-color);
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: var(--text-color) 1px solid;
  border-bottom: var(--text-color) 1px solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__logo {
}

.header__theme-toggler {
  display: flex;
  gap: 10px;
  padding-inline-start: 0;
  list-style: none;
}

/* .header__theme-toggler {
  padding-left: 0;
} */

.header__theme-button {
  position: relative;
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.04em;
  background-color: transparent;
  appearance: none;
}

.header__theme-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header__theme-button:disabled {
  pointer-events: none;
}

.header__theme-button_type_dark {

}

.header__theme-button_type_light {

}

.header__theme-button_is-active {
  font-weight: bold;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  bottom: 0.12em;
  left: -2%;
  z-index: -1;
  display: block;
  width: 100%;
  height: 0.25em;
  background-color: var(--accent-color);
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

a:focus-visible, button:focus-visible {
  outline: var(--text-color) 1px solid;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  border-top: var(--text-color) 1px solid;
  padding: 2.5%;
}

.footer__copyright {
  font-size: 18px;
}